XML2_/max_min_goleador/xsd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resultados">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resultado" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="equipo" type="xs:string" use="required" />
            <xs:attribute name="temporada" type="xs:string" use="required" />
            <xs:attribute name="goles" type="xs:int" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
