XML2_/equipos_visitantes/xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resultado">
    <xs:complexType>
      <xs:attribute name="equipo" type="xs:string" use="required"/>
      <xs:attribute name="visitante" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="resultados">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="resultado" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
